#.env
DATABASE_URL=postgresql://todolist_user:your_secure_password@localhost:5433/todolist_db

# تنظیمات فاز ۱
MAX_NUMBER_OF_PROJECT=10
MAX_NUMBER_OF_TASK=50

# اختیاری - برای debug بیشتر SQLAlchemy
SQLALCHEMY_ECHO=false

# اگر بعداً از Alembic یا ابزارهای دیگر استفاده کردید، می‌توانید اضافه کنید
# ALEMBIC_CONFIG=alembic.ini 

# حداکثر تعداد کلمات مجاز در فیلدها
MAX_WORDS_PROJECT_NAME=30
MAX_WORDS_PROJECT_DESC=150
MAX_WORDS_TASK_TITLE=30
MAX_WORDS_TASK_DESC=150
